<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include partials/head %>
</head>

<body>
    <div id="header">
        <% include partials/header %>
    </div>

    <div id="container">
        <% include partials/menu %>
    
        <div class="rightCol">
            <div class="subpageBox">
                <div class="subpageContent">
                    <img src="/images/logotyp.svg" id="aboutLogo" />

                    <p>eJednání - <%= about.appDescriptionVal %></p>
                    <p><%= about.appVersion %>&nbsp;<%= about.appVersionVal %></p>
                    <p><%= about.customer %>&nbsp;<%= about.customerVal %> (<%= about.since %> <%= about.sinceVal %>)</p>
                    <p><a href="https://ejednani.cz/">https://ejednani.cz/</a> | <a href="https://github.com/ejednani-cz">GitHub</a></p>

                    <div id="license">
                        <b class="title"><%= about.license %></b><br />
                        <p id="licensetext"><%- about.licenseText %></p>    
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <% include partials/footer %>
    </div>
</body>
</html>
