<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include partials/head %>
</head>

<body>
    <div id="header">
        <% include partials/header %>
    </div>

    <div id="container">
        <% include partials/menu %>
    
        <div class="rightCol">
            <div class="subpageBox">
                <div class="subpageContent">
                    <h1>
                        <%= newRoom.title %>
                    </h1>
                    <span class="italic"><%= newRoom.help %>:</span> <span class="value" id="nonMandatoryFieldsInfo"><%= newRoom.newActNonMandatoryFields %></span> <span class="value" id="mandatoryFieldsInfo"><%= newRoom.newActMandatoryFields %></span>
                    
                    <form action="/eje/new/create" method="POST">
                        <h2><%= newRoom.infoAboutAct %></h2>
                        <div class="row">
                            <span class="title mandatory">
                                <%= newRoom.newActTitle %>:
                            </span>
                            <span class="value">
                                <input type="text" name="newActTitle" required="required" />
                            </span>
                        </div>

                        <div class="row">
                            <span class="title mandatory">
                                <%= newRoom.newActDate %>:
                            </span>
                            <span class="value">
                                <input type="date" name="newActDate" class="shortValue" required="required" />
                            </span>
                        </div>

                        <div class="row">
                            <span class="title mandatory">
                                <%= newRoom.newActTime %>:
                            </span>
                            <span class="value">
                                <input type="time" name="newActTime" class="shortValue" required="required" />
                            </span>
                        </div>

                        <div class="row">
                            <span class="title">
                                <%= newRoom.newActLocation %>:
                            </span>
                            <span class="value">
                                <input type="text" name="newActLocation" />
                            </span>
                        </div>

                        <h2><%= newRoom.infoOptions %></h2>
                        <div class="row">
                            <div class="option">
                                <label for="newActIsPublic">
                                    <%= newRoom.newActIsPublic %>:&nbsp;
                                </label>
                                <input type="checkbox" name="newActIsPublic" id="newActIsPublic" />
                            </div>
                            <div class="option">
                                <label for="newActPublicCanTalk">
                                    <%= newRoom.newActPublicCanTalk %>:&nbsp;
                                </label>
                                <input type="checkbox" name="newActPublicCanTalk" id="newActPublicCanTalk" />
                            </div>
                            
                            <script type="text/javascript">
                                $.switcher();
                            </script>
                        </div>

                        <h2><%= newRoom.infoPersons %></h2>
                        <div class="row">
                            <span class="title mandatory">
                                <%= newRoom.newActAuthor %>:
                            </span>
                            <span class="value">
                                <input type="text" name="newActAuthor" class="shortValue" disabled="disabled" value="<%= UserProfileName %>" required="required" />
                            </span>
                        </div>
    
                        <div class="row">
                            <span class="title mandatory">
                                <%= newRoom.newActChairman %>:
                            </span>
                            <span class="value">
                                <select name="newActChairman" id="newActChairman" size="1" required="required">
                                    <optgroup label="Evropa">
                                        <option value="GB">Velká Británie</option>
                                        <option value="DE">Německo</option>
                                        <option value="FR">Francie</option>
                                        <option value="CZ">Česko</option>
                                        <option value="SK">Slovensko</option>
                                    </optgroup>
                                    <optgroup label="Amerika">
                                        <option value="USA">USA</option>
                                        <option value="CD">Kanada</option>
                                        <option value="MX">Mexiko</option>
                                    </optgroup>
                                    <optgroup label="Asie">
                                        <option value="RU">Rusko</option>
                                    </optgroup>
                                </select>

                                <script>
                                    $('#newActChairman').selectize({
                                        persist: false,
                                        createOnBlur: true,
                                        create: true
                                    });
                                </script>
                            </span>
                        </div>

                        <div class="row">
                            <span class="title">
                                <%= newRoom.newActWriters %>:
                            </span>
                            <span class="value">
                                <input type="text" name="newActWriters" />
                            </span>
                        </div>

                        <div class="row">
                            <span class="title">
                                <%= newRoom.newActVerifiers %>:
                            </span>
                            <span class="value">
                                <input type="text" name="newActVerifiers" />
                            </span>
                        </div>

                        <div class="row">
                            <span class="title mandatory">
                                <%= newRoom.newActMembersGroup %>:
                            </span>
                            <span class="value">
                                <select name="newActMembersGroup" id="newActMembersGroup" size="1" required="required">
                                    <optgroup label="Evropa">
                                        <option value="GB">Velká Británie</option>
                                        <option value="DE">Německo</option>
                                        <option value="FR">Francie</option>
                                        <option value="CZ">Česko</option>
                                        <option value="SK">Slovensko</option>
                                    </optgroup>
                                    <optgroup label="Amerika">
                                        <option value="USA">USA</option>
                                        <option value="CD">Kanada</option>
                                        <option value="MX">Mexiko</option>
                                    </optgroup>
                                    <optgroup label="Asie">
                                        <option value="RU">Rusko</option>
                                    </optgroup>
                                </select>
                                
                                <script>
                                    $('#newActMembersGroup').selectize({
                                        persist: false,
                                        createOnBlur: true,
                                        create: true
                                    });
                                </script>
                            </span>
                        </div>

                        <div class="row">
                            <span class="value">
                                <input type="submit" value="<%= newRoom.createActRoom %> &raquo;" />
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <% include partials/footer %>
    </div>
</body>
</html>
